* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

form label {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

form input {
  border: 2px solid #ccc;
  border-radius: 0.8rem;
  height: 3rem;
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem 0;
  /* text-align: center; */
}

#btn {
  background: rgba(64, 199, 64, 0.8);
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
}

#btn:hover {
  cursor: pointer;
  background: transparent;
  border: 1px solid blue;
  color: blue;
  transform: scale(1.2);
}

#btn-signup {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  background: blue;
  color: white;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 3rem;
  }

  button {
    padding: 0.5rem 4rem;
    margin: 0.3rem 0;
  }
  form label {
    padding: 1rem 0;
    text-align: center;
    font-size: 2.5rem;
  }

  form input {
    border: 2px solid #ccc;
    border-radius: 0.8rem;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
    margin: 1rem 0;
    /* text-align: center; */
  }

  #btn {
    background: rgba(64, 199, 64, 0.8);
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.8rem;
    font-size: 2rem;
  }

  #btn-signup {
    font-size: 2rem;
    text-transform: capitalize;
  }
}
